{% extends 'base.html' %}
{% block content %}

<div class="container" style="width:100%;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 left">

            <div class="panel panel-default" style="padding:10px;">
                <div class="panel-body" style="color:rgb(38,38,38);">
                    <h2>About</h2>

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h3>Wage Justice App Summary</h3><br>

                            <p>Wage Justice is an accessible and responsive Python Flask web app that helps consumers support employers who simultaneously treat their customers well and adhere to ethical legal wage practices for their employees. It displays data from Google Businesses side-by-side with wage violations on that business from the U.S. Department of Labor. The Wage Justice app was written by Hannah Lewbel, a software developer with a passion for social justice.<br><br>

                            The underlying data is pulled from a PostgreSQL database seeded with cases from the U.S. Department of Labor's Wage and Hour Division, and from Google's APIs which provide geocoded locations, business data, and customer reviews. By seeing customer reviews and existing wage violations side-by-side, consumers are able to vote with their wallets. Making violation data publicly accessible applies pressure to the businesses, encouraging them to legally compensate their employees.<br><br>

                            This app allows consumers, employees, and businesses to Wage Justice together!<br><br><br>
                            </p>

                            <h3>Software Developer: Hannah Lewbel</h3><br>

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                                <p>Hannah Lewbel is an experienced senior technology leader who combines a love of solving multi-faceted technical challenges with programs that improve people’s lives. She is both a hardware engineer and a full-stack software engineer.<br><br>

                                    Hannah has over 15 years growing organizations and leading technical teams to develop products such as Amazon’s Kindle e-readers and tablets, and Apple’s Mac computers. She is an active participant in the San Francisco CTO Club, an innovator with 15 patents filed and 9 issued, and a technical advisor for companies focused on disruptive consumer products, wearables, AR/VR, and social impact. Hannah is a strong advocate for women in STEM fields, and she is passionate about education and literacy, environmental conservation, and improving human rights.<br><br>

                                    Hannah has extensive technical experience in hardware, software, operations, manufacturing, and business development for for-profit and non-profit companies. She has been a founder, CTO, CIO, senior director, technical manager, and senior engineer. She has built collaborative cross-functional teams, and designed, patented, and built high-quality consumer products, shipping millions. Hannah has worked closely with partners to develop new business strategies and design innovative technologies.<br><br><br>
                                </p>
                            </div>
                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 right">

                                <img src="/static/HannahAurynSquare.png" class="img-responsive" style="width:80%; display:inline; padding-left:120px;" alt="Hannah Auryn Square Photo">

                            </div>


                            <div class="col-xs-12 col-lg-12">

                                <h3>Hannah's website, portfolio, GitHub, and LinkedIn pages:</h3><br>

                                <ul class="social cf">
                                    <li class="lewbelconsultancy"><a class="symbol" title="lewbelconsultancy" href="http://www.lewbelconsultancy.com"><span>Hannah Lewbel's Consulting Website and Design Portfolio</span></a></li>
                                    <li class="github"><a class="symbol" title="circlefacebook" href="http://www.github.com/hlewbel"><span>Hannah Lewbel on GitHub</span></a></li>
                                    <li class="linkedin"><a class="symbol" title="circlelinkedin" href="https://www.linkedin.com/in/hannah-lewbel-030932"><span>Hannah Lewbel on LinkedIn</span></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}