{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
<h1>About Wage Justice</h1>

<div class="row">

    <div class="col-xs-12 col-lg-6">

        <p>Test code</p>

        <div class="site-lower">
            <footer class="footer wrap cf">

                <ul class="social cf">
                    <li class="github"><a class="symbol" title="circlefacebook" href="http://www.github.com/hlewbel"><span>Hannah Lewbel on GitHub</span></a></li>
                    <li class="linkedin"><a class="symbol" title="circlelinkedin" href="https://www.linkedin.com/in/hannah-lewbel-030932"><span>Hannah Lewbel on LinkedIn</span></a></li>
                    <li class="stanford-wagetheft"><a class="symbol" title="stanfordwagetheft" href="http://wage-theft.stanford.edu/"><span>Stanford and US Dept of Labor Wage Theft Project</span></a></li>
                </ul>

            </footer>
        </div>
    </div>
    </div>

</div>
</div>
{% endblock %}