{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
<h1>{{ business.trade_nm }}</h1>

<div class="row">

    <div class="col-xs-12 col-lg-6">

          <div class="bus-details">
            <p>Business ID: <b>{{ business.bus_id }}</b></p>
            <p>Business Name: <b>{{ business.trade_nm}}</b></p>
            <p>Address: <b>{{ business.street_addr_1_txt }}, &nbsp; {{business.cty_nm}}, &nbsp; {{business.st_cd}} &nbsp; {{business.zip_cd}}</b></p>
            <p>Google Business Rating: <b>{{ business.g_overall_rating }}</b></p>
            <p>International Phone Number: <b>{{ business.g_international_phone_number }}</b></p>
            <p>Weekday Hours: <b>{{ business.g_weekday_text }}</b></p>
            <p>Google Maps URL: <b>{{ business.g_maps_url }}</b></p>
            <p>Website: <b>{{ business.g_website }}</b></p>
            <p>Google Vicinity: <b>{{ business.g_vicinity }}</b></p>
            <p>Latitude: <b>{{ business.latitude }}</b></p>
            <p>Longitude: <b>{{ business.longitude }}</b></p>
            <p>Place ID: <b>{{ business.place_id }}</b></p>
            
                                            dol_rating=dol_rating,
                                dol_severity=dol_severity,
                                dol_relevancy=dol_relevancy
          </div>
    </div>

</div>
</div>
{% endblock %}