{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
<h1>Wage Justice</h1>
<h2>Helpful Links</h2>
<div class="row">

    <div class="col-xs-12 col-lg-6">

          <div class="site-lower">
            <footer class="footer wrap cf">

                <ul class="social cf">
                    <li class="dolwhv"><a class="symbol" title="usdolwhmain" href="https://www.dol.gov/whd/#"><span>US Department of Labor Wage and Hour Violations Main Page</span></a></li>
                    <li class="dolwhvdata"><a class="symbol" title="usdolwhdata" href="http://ogesdw.dol.gov/views/data_catalogs.php"><span>US Department of Labor Wage and Hour Violations Data</span></a></li>                    
                    <li class="wagetheftcoalition"><a class="symbol" title="wagetheftcoalition" href="https://wagetheftcoalition.com"><span>Wage Theft Coalition</span></a></li>
                    <li class="stanfordwagetheft"><a class="symbol" title="stanfordwagetheft" href="http://wage-theft.stanford.edu/"><span>Stanford and US Dept of Labor Wage Theft Project</span></a></li>
                </ul>

            </footer>
        </div>
    </div>
    </div>

</div>
</div>
{% endblock %}